body {
  margin: 0;
  background: white;
  font-family: "Courier New", monospace;
  text-align: center;
}

.container {
  padding: 40px;
}

.snoopy-img {
  width: 300px;
  margin-bottom: 30px;
}

.password-box input {
  padding: 10px;
  font-size: 16px;
}

.password-box button {
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
}

.letter {
  margin-top: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  white-space: pre-wrap;
}

.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}
.memory {
  position: fixed;
  top: 20%;
  width: 140px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.memory.left {
  left: 20px;
}

.memory.right {
  right: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
